# 编译输出目录
build/
target/
out/
Debug/
Release/
cmake-build-*/
.qt/

# IDE 配置文件
.vscode/
.idea/
CMakeLists.txt.user
CMakeUserPresets.json
*.user

# 本地配置与密钥
config/*.local.json

# Qt / CMake 生成物
*.qmlc
moc_*.cpp
qrc_*.cpp
ui_*.h

# 其他大文件
*.mp4
*.zip

# 本地工具目录
tools/

# third-party dependencies / reference repositories
third_party/
